.bird-eye-main-div {
  width: 100%;
  height: calc(100vh - 100px);
  border: 1px solid rgba(156, 156, 153);
  border-radius: 10px;
  padding: 0 24px 0 24px;
  overflow: scroll;
  // scrollbar-width: 10px;
}

.cl1 {
  // width: 100%;
  height: 100%;
}
.weeks-div {
  width: 100%;
}
.week-div {
  height: 100%;
  width: 140px;
}
.week-text {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 7px;
  background: rgb(31, 93, 122);
  text-align: center;
  padding: 10px 8px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  position: sticky;
  top: 4px;
  z-index: 1000;
}
.horizontal-line {
  border-top: 0.6px dashed red;
  height: 100px;
}
.dates-div {
  border-left: 0.6px dashed rgba(0, 0, 0);
  border-bottom: 0.6px dashed rgba(0, 0, 0);
  height: 100%;
  width: 100%;
}
.dates-div-last {
  border-right: 0.6px dashed rgba(0, 0, 0);
}
.date-div {
  width: 100%;
  max-width: 30px;
  min-width: 16px;
  height: 100%;
}
.day-line {
  border: 0.2px solid rgb(247, 249, 197);
}
.today {
  background-color: rgb(250, 107, 107);
}
.today-text {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: rgba(0, 0, 0);
  width: fit-content;
  padding: 4px 8px;
  border-radius: 3px;
  margin-left: -30px;
}

.bg-white-div {
  position: sticky;
  top: 0px;
  background-color: white;
  height: 60px;
  width: 100%;
  z-index: 100;
}
.tasks-div {
  width: 100%;
  height: auto;
  position: absolute;
}
.task-div {
  border-radius: 7.6px;
  background: rgba(69, 118, 233, 0.4);
  color: rgba(0, 0, 0);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
}
.selected-task {
  background-image: linear-gradient(
    90deg,
    rgba(183, 72, 196, 0.8),
    rgba(58, 89, 227, 0.8)
  );
  color: white;
}
.mockdata-div {
  padding: 8px;
  border-radius: 7.6px;
  background: linear-gradient(
      0deg,
      rgba(22, 43, 142, 0.1) 0%,
      rgba(22, 43, 142, 0.1) 100%
    ),
    white;
}
.mockdata-name {
  color: rgba(22, 43, 142);
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mockdata-marks {
  margin-top: 7px;
  color: rgba(0, 0, 0);
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10.15px; /* 101.5% */
  letter-spacing: -0.231px;
}
.add-resources-name {
  border-radius: 7.6px;
  background: linear-gradient(
      0deg,
      rgba(22, 43, 142, 0.2) 0%,
      rgba(22, 43, 142, 0.2) 100%
    ),
    white;
  padding: 13px 8px;
  color: rgba(22, 43, 142);
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.stimulated-exam-name {
  border-radius: 7.6px;
  background: rgba(22, 43, 142);
  padding: 13px 8px;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.revision-name {
  border-radius: 7.6px;
  background-color: rgba(214, 219, 38, 0.2);
  padding: 18.5px 16px;
  color: rgb(136, 139, 32);
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.exam-date-div {
  border-radius: 7.6px;
  background: rgba(228, 85, 74, 0.1);
  color: rgba(228, 85, 74);
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 13px 15px;
}

.exam-date-name {
  font-size: 12px;
}
.exam-date-date {
  font-size: 14px;
}

.btn {
  min-width: max-content;
  height: 40px;
  padding: 8px 15px;
  background-image: linear-gradient(
    90deg,
    rgba(183, 72, 196, 0.8),
    rgba(58, 89, 227, 0.8)
  );
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}

.create-btn {
  // background-color: rgba(183, 72, 196, 0.8);
  background-image: linear-gradient(
    90deg,
    rgba(183, 72, 196, 0.8),
    rgba(58, 89, 227, 0.8)
  );
}

.disabled-div {
  // opacity: 0.5;
  background-color: rgb(151, 151, 146) !important;
  background-image: none;
  pointer-events: none;
}

.custom-icon {
  background-color: white;
  color: rgba(44, 79, 204);
  border-radius: 50px;
  padding: 3px 5px;
  font-weight: 900;
}

.hover-class {
  background-color: black;
  color: white;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}
.delete-icon {
  color: rgb(158, 19, 19);
  font-size: 18px;
}

.search-div input {
  width: 300px;
}
.search-div input:focus {
  outline: none;
}
.search-div:focus-within {
  border: 1px solid blue;
}
img {
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 768px) {
  .btns-main-div {
    flex-direction: column;
  }
  .btns {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
  }
  .search-div,
  .search-div input {
    width: 100%;
  }
  .bird-eye-main-div {
    border: 0;
  }
}
@media screen and (min-width: 769px) {
  .btns {
    overflow-x: auto;
    overflow-y: hidden;
    // scrollbar-width: none;
    width: calc(100% - 350px);
    margin-left: 50px;
    height: 50px;
  }
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Change color as needed */
}

/* For Firefox */
/* Note: Firefox supports a separate pseudo-element, scrollbar-thumb, for the scrollbar thumb style */
/* This example sets both scrollbar and thumb to a width of 10px */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* For Internet Explorer */
*::-ms-scrollbar {
  width: 5px;
  height: 5px;
}

*::-ms-scrollbar-thumb {
  background-color: #888; /* Change color as needed */
}
