<div class="btns-main-div flex">
  <div class="search-main-div flex">
    <img src="./assets/task-planner.png" alt="" class="-mt-1" />
    <div
      class="flex search-div border border-grey-600 rounded-md mb-4 text-base ml-3"
    >
      <input
        class="h-10 p-2 border-0 rounded-md"
        type="text"
        placeholder="Search task"
        [(ngModel)]="searchText"
        (input)="searchTaskHandler()"
      />
      <i class="fa-solid fa-magnifying-glass mr-2 self-center"></i>
    </div>
  </div>
  <div class="btns flex h-10">
    <div class="btn bg-blue-500 mr-5" (click)="showDays()">
      <i class="fa-solid fa-table-cells-large custom-icon mr-2"></i>
      {{ isShowDay ? "Hide days" : "Show days" }}
    </div>
    <div class="btn mr-5" (click)="goToFirstTask()">
      <i class="fa-solid fa-backward-step custom-icon mr-2"></i>
      First Task
    </div>
    <div
      class="btn mr-5"
      (click)="goToPrevTask()"
      [ngClass]="currentTaskSelected > 0 ? '' : 'disabled-div'"
    >
      <i class="fa-solid fa-circle-chevron-left fa-xl mr-2"></i>
      Prev Task
    </div>
    <div class="btn create-btn mr-5" (click)="openAddTaskDialog()">
      <i class="fa-solid fa-circle-plus fa-xl mr-2"></i>
      Create New Task
    </div>
    <div
      class="btn mr-5"
      [ngClass]="
        currentTaskSelected >= 0 && currentTaskSelected < newTaskData.length - 1
          ? ''
          : 'disabled-div'
      "
      (click)="goToNextTask()"
    >
      <i class="fa-solid fa-circle-chevron-right fa-xl mr-2"></i>
      Next Task
    </div>
    <div class="btn bg-blue-500" (click)="goToLastTask()">
      <i class="fa-solid fa-forward-step custom-icon mr-2"></i>
      Last Task
    </div>
  </div>
</div>
<div #tasksheet class="bird-eye-main-div flex">
  <div class="cl1">
    <div class="weeks-div flex" [style]="{ height: taskDivHeight }">
      <div
        class="week-div flex"
        *ngFor="let week of newWeekData; let i = index"
      >
        <div
          class="flex flex-col dates-div"
          [ngClass]="i === newWeekData.length - 1 ? 'dates-div-last' : ''"
        >
          <div class="week-text flex flex-col">
            <span>{{ week.weekNumber }} </span> <span>{{ week.name }}</span>
          </div>
          <div class="flex h-full">
            <div
              #dateDiv
              class="date-div flex"
              *ngFor="let date of week.dates"
              [ngClass]="{ today: isToday(date), 'day-line': isShowDay }"
            >
              <!-- (mouseenter)="setDateHover(date)"
              (mouseleave)="setDateHover('')" -->
              <!-- <div *ngIf="dateHover == date" class="py-auto">{{ date }}</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tasks-parent-div relative w-full">
      <div
        [style]="{ top: '-' + taskDivHeight }"
        class="tasks-div flex flex-col"
        #tasksDiv
      >
        <div class="bg-white-div"></div>
        <div class="abc flex mt-4" *ngFor="let task of newTaskData; index as i">
          <div
            #task
            class="task-div flex p-2 justify-between cursor-pointer"
            [ngClass]="currentTaskSelected === i ? 'selected-task' : ''"
            [style]="task.style"
            (click)="currentTaskSelected = i"
            (mouseenter)="hoverHandler(task.id)"
            (mouseleave)="hoverHandler('')"
          >
            <div>{{ task.name }}</div>
            <div (click)="openEditTaskDialog(task)">
              <i class="fa-solid fa-pen cursor-pointer"></i>
            </div>
          </div>
          <div
            class="ml-2 self-center cursor-pointer"
            (click)="deleteTask(task.id)"
          >
            <i class="delete-icon fa-solid fa-trash-can"></i>
          </div>
          <div *ngIf="task.id === hoverId" class="hover-class ml-2">
            <div>
              {{ task.name }}
            </div>
            <div class="flex">
              <span class="mr-2">{{ task.startDate | date }}</span> -
              <span class="ml-2">{{ task.endDate | date }}</span>
            </div>
          </div>
          <div *ngIf="task.hasMock" class="mockdata-div ml-2">
            <div class="mockdata-name">
              {{ task.mockData?.name }}
            </div>
            <div class="mockdata-marks"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
